body
{
    color: #efe;
    background-color: #000;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: right;
}

#game
{
    width: 750px;
    margin: 40px;
}

#canvas
{
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}

#playersAtChannel
{
    margin: 15px;
    width: 700px;
    float: left;
}

.box
{
    margin: 40px;
    width: 700px;
    background-color: #111;
    padding: 40px;
}

.wrap
{
    width: 400px;
}

#loginBox
{
    display:none;
}

.listContainer
{
    width: 210px;
    float: left;
    display: inline;
}

.playersList
{
    width: 190px;
}

#error
{
    width: 700px;
    margin: 40px;
    padding: 20px;
    text-align: center;
    display: none;
}